// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

//@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

#front
    background-image url(../images/Back1.jpg)

#road
    background-image url(../images/back4.png)

.home
    background-image url(../images/back5.png)
	
#pic1
	background-image url(../images/pic2.png)
	background-size 100% 100%
	background-repeat no-repeat

#st1
	background-image url(../images/pic3.png)
	background-size 100% 100%
	
#st3
	background-image url(../images/pic3.png)
	background-size 100% 100%

#st4
	background-image url(../images/pic4.png)
	background-size 50% 70%
	background-repeat no-repeat
	background-position center