// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

#front
    background-image url(../images/Back1.jpg)
    
#road
    background-image url(../images/back4.png)

.home
    background-image url(../images/back5.png)
	
#pic1
	background-image url(../images/pic2.png)
	background-size 100% 100%
	background-repeat no-repeat

#st1
	background-image url(../images/pic3.png)
	background-size 100% 100%
	
#st3
	background-image url(../images/pic3.png)
	background-size 100% 100%

#st4
	background-image url(../images/pic3.png)
	background-size 100% 100%
	background-repeat no-repeat
	background-position center

#st5
	background-image url(../images/pic6.png)
	background-size 100% 100%
	background-repeat no-repeat
	background-position center		

#st6
	background-image url(../images/pic3.png)
	background-size 100% 100%
	
#st7
	background-image url(../images/pic7.png)
	background-size 100% 100%
	color white

#st8
	background-image url(../images/pic8.png)
	background-size 100% 100%
	color red
		
.round-btn
    color white
    border-radius 50px
    background-color #143764 
    padding 20px
    margin 10px 0 
	box-shadow 5px 4px 3px grey

#front.emphatic-text
	font-family  cursive

#front.emphatic-text h2
	font-size 43px
	color #0A3975      

#front.emphatic-text h4
	font-size 20px
	color #22508C    

#pic1.emphatic-text p
	font-size 21px
	color #0A3975 
	font-weight bold

section#road.emphatic-text img 
	margin-top 90px

section#st3.emphatic-text img
	margin-top 50px

section#st1.emphatic-text img
	margin-left 45px

section#st1.emphatic-text p
	margin-top 60px
	
#mamegoma h1
	font-size 65px
