// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes
.cover {
    background-position: center;
    background-size: cover;
}
.bespoke-slide
	width 100%
	height 100%
	top 0
	left 0
	margin-left 0
	margin-top 0
#front
	background-image url('../images/Back1.jpg')
	background-size 100% 100%

#road
    background-image url(../images/back4.png)

.home
    background-image url(../images/back5.png)
	
#pic1
	background-image url(../images/pic11.png) 
	background-image url(../images/pic12.png) 
	background-size 100% 100%
	background-position bottom
	background-repeat no-repeat

#st1
	background-image url(../images/pic3.png)
	background-size 100% 100%

#st3
	background-image url(../images/pic3.png)
	background-size 100% 100%

#st4
	background-image url(../images/pic3.png)
	background-size 100% 100%
	background-repeat no-repeat
	background-position center

#st5
	background-image url(../images/pic6.png)
	background-size 100% 100%
	background-repeat no-repeat
	background-position center		

#st6
	background-image url(../images/pic3.png)
	background-size 100% 100%
	
#st7
	background-image url(../images/pic7.png)
	background-size 100% 100%
	color white

#st8
	background-image url(../images/pic8.png)
	background-size 100% 100%
	font-family Script MT Bold
	color red

#ques1
	background-image url(../images/pic13.png)
	background-size 110% 115%
	background-repeat no-repeat
	font-family Script MT Bold
	color red
	
#ques2
	background-image url(../images/pic14.png)
	background-size 115% 98%
	background-repeat no-repeat
	font-family Script MT Bold
	color red
	font-weight bold

#ques3
	background-image url(../images/pic15.png)
	background-size 100% 100%
	background-repeat no-repeat
	font-family Script MT Bold
	color red
	font-weight bold
	
.round-btn
    color white
    border-radius 50px
    background-color #143764 
    padding 20px
    margin 5px 0
	
.round-btn:hover
	background-color: #47c9ed

#front
	font-family cursive

#front h2
	font-size 43px
	color #0A3975      

#front h4
	font-size 20px
	color #22508C    

#pic1 p
	font-size 21px
	color #0A3975 
	font-weight bold

section#road img 
	margin-top 90px

section#st3 img
	margin-top 50px

/*section#st1 img
	margin-left 45px

section#st1 p
	margin-top 60px*/
#st1>.st1-1
	position absolute
	width 50%
	top 25%
	left 5%
#st1>.st1-2
	position absolute
	top 5%
	right 5%
section#st7 h1
	font-size 65px

h3
	text-align center

secton>div.choice
	margin 10% 20px

section>div.choice label
	display block
	margin 10px 0
	
.bespoke-after
    transform none

article.clean 
  transition background-color 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985)
  background-color #fff
  font-family georgia
  color #404040
  
article.clean.cards section.bespoke-slide
  transform-origin 0 100% 0
  width 60%
  margin-left 20%
  background yellow
  
article.clean.cards section.bespoke-inactive
  opacity 0

article.clean.cards section.bespoke-before 
  transform translateZ(0px) rotateY(-60deg) translateX(0px) rotateZ(120deg)

article.clean.cards section.bespoke-after 
  transform translate3d(0px, 0, 0px)
