doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Food Recommendation

    link(rel='stylesheet', type='text/css', href='build/build.css')
  body

    article

      section#front
        h4 Presented by
        h2 LOL (Lots of Love) Group
        img.gif(src="images/love.gif")

      section#pic1
        p This is made based on true stories..
        img(src="images/pic1.png")
        a(href="#st1").round-btn Story 1
        a(href="#st2").round-btn Story 2

      section#st1
        div.st1-1.bullet
          p Hey Guys!!! Let's go hunting food for dinner together
          img.bullet(src="images/p22.png")
        div.st1-2.bullet
          p Okay, No Problem
          p So... What should we eat?
          img(src="images/p23.png")

      section#st4
        p Where should we go?
        img(src="images/p24.png")

      section#st6
        p Ummmmm... Ummmm.... Ummmmm..
        img(src="images/p25.png")

      section#st5
        p The simplest and the most difficult question to answer
        img(src="images/thinking.png")

      section#st7
        h1 What should I eat?
        img(src="images/confused.gif")

      section#st8
        h3 Now...
        h3 Just answer these questions and figure out "WHAT" you want to eat and "WHERE" you want to go
        h2 Let's Go!!
        a(href="#qa")
          img(src="images/p21.png")

      section#st2.home  
        h3 Nothing to do...
        img(src="images/c5.gif")  
      
      section.home
        h3 Why didn't he text??
        img(src="images/c4.gif")  
      
      section#road
        h3 On the other side..
        img(src="images/c7.gif")  

      section.home
        h3 Knock Knock Knock
        img(src="images/door.png")  

      section
        img(src="images/c6.gif") 

      section.home
        h3 Why didn't you text me?
        h3 asd@#$#%@@#?!*()#
        img(src="images/c1.gif")

      section.home
        h3 I wanna surprise you, sorry..
        img(src="images/c1.gif")

      section.home
        h5 I wanna surprise you, sorry..
        h3 What do you wanna eat? Let's go..
        img(src="images/c1.gif")

      section.home
        h3 Mm...mm..
        h3 I don't know..
        img(src="images/c2.gif")
      
      section.home
        h3 Don't worry
        img(src="images/c8.gif")

      section.home
        h3 Because you just need to answer these questions, and you'll get food recommendation..
        a(href="#qa")
          img(src="images/c3.gif")
    
      section#qa(data-bespoke-state='clean cards')
        h3 HOW HUNGRY ARE YOU?
        h3 ARE YOU REALLY STARVING?
        div.choice
          label(for='little')
            input(type='radio' name='starving' value='little' id='little') 
            span  Just a little
          label(for='quite')
            input(type='radio' name='starving' value='quite' id='quite')
            span  Quite hungry
          label(for='hungry')
            input(type='radio' name='starving' value='hungry' id='hungry')
            span  Hungry
          label(for='now')
            input(type='radio' name='starving' value='now' id='now')
            span  I want to eat Now
          label(for='death')
            input(type='radio' name='starving' value='death' id='death')
            span  I'm starving to death
        a(href='#22') Next
      
      section(data-bespoke-state='clean cards')
        h3 WHAT KIND OF FOOD DO YOU WANT?
        div.choice
          label(for='boost')
            input(type='radio' name='kind' value='boost' id='boost')
            span  The one can boost your mood
          label(for='lemon')
            input(type='radio' name='kind' value='lemon' id='lemon')
            span  The one with lemon feels
          label(for='plain')
            input(type='radio' name='kind' value='plain' id='plain')
            span  Just the plain one
          label(for='salty')
            input(type='radio' name='kind' value='salty' id='salty')
            span  Salty one not bad
          label(for='burnt')
            input(type='radio' name='kind' value='burnt' id='burnt')
            span  The one make your tongue burnt

      section(data-bespoke-state='clean cards')
       h3 ARE YOU A VEGETARIAN?
       div.choice
        label(for='yes')
          input(type='radio' name='vege' value='yes' id='yes')
          span  It's a yes, yes and yes
        label(for='eggs')
          input(type='radio' name='vege' value='eggs' id='eggs')
          span  Yes, but eggs aren't big deal
        label(for='no')
          input(type='radio' name='vege' value='no' id='no')
          span  Definitely No

      section(data-bespoke-state='clean cards')
       h3 ARE YOU IN A RUSH?
       div.choice
        label(for='relax')
          input(type='radio' name='rush' value='relax' id='relax')
          span  No, I'm relaxing myself
        label(for='works')
          input(type='radio' name='rush' value='works' id='works')
          span  Well, I still have works to do
        label(for='notime')
          input(type='radio' name='rush' value='notime' id='notime')
          span  Yes, I don't have much time

      section(data-bespoke-state='clean cards')
        h3 WHAT DO YOU FEEL RIGHT NOW?
        div.choice
          label(for='lazy')
            input(type='radio' name='feel' value='lazy' id='lazy')
            span  I'm too lazy to go out
          label(for='walk')
            input(type='radio' name='feel' value='walk' id='walk')
            span  I'd like to go for a walk
          label(for='noworry')
            input(type='radio' name='feel' value='noworry' id='noworry')
            span  I don't worry about transport

      section(data-bespoke-state='clean cards')
       h3 HOW IS YOU WALLET CONDITION?
       div.choice
        label(for='broke')
          input(type='radio' name='wallet' value='broke' id='broke')
          span  I'm totally broke
        label(for='enough')
          input(type='radio' name='wallet' value='enough' id='enough')
          span  I guess I have enough
        label(for='card')
          input(type='radio' name='wallet' value='card' id='card')
          span  Don't worry, I have card

      section
        h2 Keyboard Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-keys">bespoke-keys</a>

      section
        h2 Touch Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-touch">bespoke-touch</a>

      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')